.container {
    width: 100%;
    min-height: 100vh;
}

.HomeGameScreen{
    display: flex;
    flex-wrap: wrap;
    min-width: fit-content;
    border: solid black 5px;
    justify-content: center;

}