*{
    margin: 0;
    padding: 0;
}


.card {
    
    /* margin: 100px; */
    width: 100px;
    height: 125px;
    perspective: 1000px;
    margin: 0;
    border: 0;
    position: absolute;
};

.container {
    width: 100%;
    min-height: 100vh;
    
}

.cardInner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}


/* effect for drawing a card*/
.cardInner.is-clicked {
    width: 210px;
    height: 310px;
    transform:  translate(170%, -100%) rotateY(180deg);
    
}


.cardFace{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 10px;
    border-bottom: 1px solid rgba(27, 24, 24, 0.452);
    border-right: 2px solid rgba(202, 189, 189, 0.637);
    background-color: white;
    
    
    
}

.cardFace:active{
    box-shadow: 0px 3px 18px 3px rgba(0,0, 0.2);
}



.shadow {
    box-shadow: 0px 3px 18px 3px rgba(0,0, 0.2);
}


.cardFace--front{

    transform: rotateY(180deg)
    
}

.imgClass {
    
    border: 2px solid black;
    margin: 5px;
    
    width: 85px;
    height: 110px;
    object-fit: cover;
}

.imgTransition {
    
    border: 2px solid black;
    margin: 5px;
    
    width: 196px;
    height: 295px;
    object-fit: cover;
}

