.GameCardContainer{
    width: 350px;
    height: 625px;
    /* border:  5px solid rgb(138, 37, 185); */
    position: relative;
    flex: 2;
    
    
}

.selectionContainer{
    width: 350px;
    height: 625px;
    border:  5px solid rgb(185, 37, 37);
    margin: auto;
    position: relative;
    /* left: 50px; */
    overflow: hidden;
}

.tablaContainer{
    width: 100%;
    height: 560px;
    background-color: rgb(240, 231, 231);
    overflow: hidden;
    
}

.upArrow, .downArrow{
    width: 350px;
    background-color: chartreuse;
}

.downArrow {

    position: relative;
    bottom: -5px;
}
.smallCardContent {
    width: 200px;
    height: 100px;
    margin: auto;
    position: absolute;
    left: 20px;
    border: 2px solid black;
    background-color: whitesmoke ;
    border-radius: 10px;
}

.addPlayerContainer{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.addPlayerBtn{
    margin: 5px;
    padding: 2px;
    position: relative;
    left: 95px;
}