.tablaSlide{
    /* width: 100%; */
    position: relative;
    /* height: 60%; */
   
}

.imageSize {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    /* margin-bottom: 5px; */
   
}

.imageSize:hover{
    opacity: 0.4;
}