.tablaSlide{
    position: relative;
}

.imageSizeForSelection {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.selectedTablaForPlay{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-fit: cover;
    border: solid black 1px;
    border-radius: 10px;
}